#!/usr/bin/env node

[Unit]
Description=Tunneling Service ngrok
After=network.target

[Service]
ExecStart=node /home/pi/workspace/ssh-tunnel-agent/src/server.js
Restart=always
WorkingDirectory=/home/pi/workspace/ssh-tunnel-agent
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
